{% extends "index.html" %}

{% block title %}
    {{ parent_page.meta_title }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{parent_page.seo_description}}" />
    <meta name="keywords" content="{{parent_page.seo_keywords}}" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/catalog.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block topnav_inner %}
  {% include 'catalog_categories.html' %}
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <div class='content_line light_gray_2'>
      <div class='content_holder catalog'>

        <div class="catalog-header">
          <!-- this has to be picked depending on sort oder -->
          {% if sort_order == '-discount_price' %}
            <h1>Самые дорогие</h1>
          {% elif sort_order == 'discount_price' %}
            <h1>Самые выгодные предложения</h1>
          {% elif sort_order == 'title' %}
            <h1>По названию А-Я</h1>
          {% elif sort_order == '-title' %}
            <h1>По названию Я-А</h1>
          {% else %}
            <h1>Наиболее популярные</h1>
          {% endif %}

          <!-- and this has to be styled -->
          <div class="sort-switcher">
            <form id="sorting_form" method="get">
              Сортировать по:
              <select name="order">
                <option value="-popularity" {% if sort_order == '-popularity' %}selected{% endif %}>популярности</option>
                <option value="-price" {% if sort_order == '-discount_price' %}selected{% endif %}>самой высокой цене</option>
                <option value="price" {% if sort_order == 'discount_price' %}selected{% endif %}>самой низкой цене</option>
                <option value="title" {% if sort_order == 'title' %}selected{% endif %}>названию Ая</option>
                <option value="-title" {% if sort_order == '-title' %}selected{% endif %}>названию Яа</option>
              </select>
            </form>
          </div>
        </div>

        <ul class='cf'>
          {% for memorial in memorials %}
            {% if forloop.counter == 4 %}
              <li class="memorial-promo-block">
                <div class="memorial-promo-block-inner">
                  <div class="memorial-promo-block-year">
                    2015-2016
                  </div>
                  <img src="{{ STATIC_URL }}stonegarant/images/promo-image.png" class="memorial-promo-block-image">
                  <div class="memorial-promo-block-title">
                    <br/>
                    Бесплатное хранение памятников до лета. <br/>
                    Закажите до подорожания!<br/>
                  </div>
                </div>
              </li>
            {% endif %}
            <li class="single-memorial">
              <div class="single-memorial-image-holder">
                <a class='single-memorial-image' href="{% url 'memorial' memorial.slug %}">
                  <!-- use propper image -->
                  <img src="{{ memorial.catalog_thumbnail }}" alt='{{ memorial.title }}'>
                  {% if memorial.discount %}
                    <span class="single-memorial-discount">
                      {{ memorial.discount_percent }}<span class="percent">%</span>
                    </span>
                  {% endif %}
                </a>
              </div>
              <div class='single-memorial-info'>
                <div class="single-memorial-info-title">{{memorial.title}}</div>
                {% if memorial.discount %}
                  <span class="single-memorial-strikeout">{{ memorial.base_price }}&nbsp;р.</span>&nbsp;
                  <a class="single-memorial-button btn_link" href="{% url 'memorial' memorial.slug %}">
                    от <b>{{memorial.discount_price}}&nbsp;р.</b>
                  </a>
                {% else %}
                  <a class="single-memorial-button btn_link" href="{% url 'memorial' memorial.slug %}">
                    от <b>{{memorial.base_price}} р.</b>
                  </a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- here goes the banner -->
    <div class="catalog-banner">
      <div class="catalog-banner-image-holder">
        <img class="catalog-banner-image" src="{{ STATIC_URL }}stonegarant/images/memorial_banner.png">
      </div>
      <div class="catalog-banner-data-holder">
        <h3 class="catalog-banner-header">
          Не нашли нужного памятника?
        </h3>
        <span class="catalog-banner-text">
          Пришлите фото или эскиз памятника, его размеры и мы
          <br>
          рассчитаем стоимость в течение одного дня
        </span>
        <br/>
        <a href="#" class="catalog-banner-button btn_link">
          Рассчитать памятник
        </a>
      </div>
    </div>
    <div class='content_line light_gray_1'>
      <div class='content_holder help_bar'>
        <div class='mlr20'>
          <span class='delivery'>Доставка по всей России</span>
          <span class='phone'>Есть вопросы? Звоните <b>8 800 775-86-24</b></span>
        </div>
      </div>
    </div>
    {% if parent_page.description %}
    <div class='content_line light_gray_1'>
      <div class="mlr20">
        <div class="content user_content seo_content">
          <br>
          {{ parent_page.description | safe}}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{STATIC_URL}}stonegarant/javascripts/stone_garant/catalog.js" type="text/javascript"></script>
{% endblock %}
