<div class='content_line dark_gray_2'>
  <div class='content_holder footer'>
    <div class='mlr20'>
      <p>
        <a class="stone_garant_logo_2" href="#"></a>
      </p>
      <ul>
        <li>
          © 2015 ООО «Stone-Garant»
        </li>
        <li>
          Продажа надгробных памятников по Москве и всей России
        </li>
        <li>
          8 800 775-86-24
          <br>
          <a href="mailto:info@stone-garant.ru">info@stone-garant.ru</a>
        </li>
      </ul>
    </div>
  </div>
</div>
