<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='yandex-verification' content='7e406b6fe0e6d268' />
    <link rel="icon" href="http://stone-garant.ru/static/stonegarant/favicon.ico" type="image/x-icon">
    <title>{% block title %}Памятники из черного гранита с доставкой по всей России{% endblock %}</title>
    {% block meta %}
      <meta name="description" content="" />   
      <meta name="keywords" content="" />
    {% endblock %}
    {% block stylesheets %}
      <link href="/static/stonegarant/stylesheets/base/reset.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/stonegarant/stylesheets/base/headers.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/stonegarant/stylesheets/base/custom.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/stonegarant/stylesheets/stone_garant/layout.css" media="screen" rel="stylesheet" type="text/css" />
    {% endblock %}
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
      <link href="/static/stonegarant/stylesheets/stone_garant/index.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/stonegarant/stylesheets/stone_garant/slider.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include 'top_line.html' %}
    {% include 'top_nav.html' %}
    {% block topnav_inner %}{% endblock %}
    {% block content %}
      <div class='content_line dark_gray_4'>
        <div class='content_holder main_banner'>
          <div class='mlr20'>
            <h5 class='title'>
              гарантия памяти
              <br>
              о ваших близких
            </h5>
            <p class='descr'>
              Наша мастерская производит надгробные памятники
              <br>
              из черного гранита и доставляет их по всей России
            </p>
            <a class="btn_link choose_goods" href="/catalog">Подобрать памятник</a>
            <!--<p class='helper'>
              Не знаете какой памятник Вам нужен? Тогда воспользуйтесь
              <a href="#">помощником</a>
            </p>-->
          </div>
        </div>
      </div>
      <div class='content_line light_gray_3'>
        <div class='content_holder quality'>
          <p class='title'>Высочайшие стандарты. Гарантия качества.</p>
          <div class='portfolio'>
            <a class="btn_link" href="/page-raboty">Смотреть работы</a>
          </div>
          <p class='descr'>
            <b>О нашей мастерской</b>
            <br>
            Мы специализируемся на изготовлении надгробных сооружений, памятников, стел, мемориальных комплексов по типовым проектам, либо по эскизам заказчика.
            Наши специалисты выполнят работы любой сложности и со всей ответственностью и серьезностью отнесутся к вашему заказу.
            <span class='etching'>
              Вы можете заказать
              <a href="/page-gravirovka">гравировку</a>
              на любых языках, в том числе на английском и арабском, портрета,
              <span class='nobr'>эпитафий –</span>
              все Ваши пожелания будут учтены.
            </span>
          </p>
        </div>
      </div>
      <div class='content_line light_gray_1'>
        <div class='content_holder advantages'>
          <div class='mlr20'>
            <ul class='cf'>
              <li>
                <p>
                  <b><a href="/catalog">Широкий ассортимент продукции</a></b>
                  Выбирайте из более чем 100 моделей памятников, которые удовлетворят даже самого изысканного заказчика.
                </p>
              </li>
              <li>
                <p>
                  <b><a href="/page-aktsii-i-skidki">Акции и скидки</a></b>
                  Распродажи. Скидки от величины стоимости заказа. Скидки от количества заказанных памятников до 10%.
                </p>
              </li>
              <li>
                <p>
                  <b><a href="/page-preimushchestva">Натуральный черный гранит</a></b>
                  Наша компания работает только с натуральным монолитным черным гранитом из карьеров в Карелии.
                </p>
              </li>
              <li>
                <p>
                  <b><a href="/page-oplata-i-dostavka">Доставка по всей России</a></b>
                  Мы доставим памятник в любую точку России за очень низкую цену.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='content_line light_gray_3'>
        <div class='content_holder feedback'>
          <p class='title'>Мы оправдываем доверие сотен людей</p>
          <div class='slider' id='slider'>
            <a class="bck" href="#"></a>
            <a class="fwd" href="#"></a>
            <div class='viewport user_content'>
              <ul>
                {% for reply in replies %}
                  <li>
                    <blockquote>
                      {{reply.reply | safe}}
                    </blockquote>
                    <div class='author'>
                      <span>{{reply.preson}}</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <a class="feedback_list" href="/feedback">Читать все отзывы</a>
        </div>
      </div>
    {% endblock %}
    {% include 'footer.html' %}
    {% block javascripts %}
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter22269611 = new Ya.Metrika({id:22269611,
                          webvisor:true,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      </script>
      <!-- /Yandex.Metrika counter -->
      
      <script src="/static/stonegarant/javascripts/jquery.js" type="text/javascript"></script>
      <script src="/static/stonegarant/javascripts/app/logger.js" type="text/javascript"></script>
      <script src="/static/stonegarant/javascripts/stone_garant/slider.js" type="text/javascript"></script>
      <script src="/static/stonegarant/javascripts/stone_garant/menu.js" type="text/javascript"></script>
    {% endblock %}
  </body>
</html>
