<ul class='cf'>
  {% for memorial in memorials %}
    {% if forloop.counter == 4 and catalog_banner %}
      {% if catalog_banner.contents %}
        {{ catalog_banner.contents | safe }}
      {% endif %}
    {% endif %}
    <li class="single-memorial">
      <div class="single-memorial-image-holder">
        <a class='single-memorial-image' href="{% url 'memorial' memorial.slug %}">
          <img src="{{ memorial.catalog_thumbnail }}" alt='{{ memorial.title }}'>
          {% if memorial.discount %}
            <span class="single-memorial-discount">
              {{ memorial.discount_percent }}<span class="percent">%</span>
            </span>
          {% endif %}
        </a>
      </div>
      <div class='single-memorial-info'>
        <div class="single-memorial-info-title">{{memorial.title}}</div>
        {% if memorial.discount %}
          <span class="single-memorial-strikeout">{{ memorial.base_price }}&nbsp;р.</span>&nbsp;
          <a class="single-memorial-button btn_link" href="{% url 'memorial' memorial.slug %}">
            от <b>{{memorial.discount_price}}&nbsp;р.</b>
          </a>
        {% else %}
          <a class="single-memorial-button btn_link" href="{% url 'memorial' memorial.slug %}">
            от <b>{{memorial.base_price}} р.</b>
          </a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

{% if memorials.has_next %}
  <div class="load-more-wrapper">
    <a href="#" class="js-load-more btn_link" data-limit="{{ lmt }}" data-page="{{ page }}" data-slug="{{ parent_page.slug }}" data-csrfmiddlewaretoken="{{ csrf_token }}">
      Показать еще {{ show_next }}
    </a>
  </div>
{% endif %}