{% extends "index.html" %}

{% block title %} Заказ №{{ order.number }} {% endblock %}

{% block meta %}
  <meta name="description" content="{{service_page.seo_description}}" />
  <meta name="keywords" content="{{service_page.seo_keywords}}" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/order.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block topnav_inner %}
  <div class='content_line dark_gray_1'>
  </div>
{% endblock %}

{% block content %}

    <div class="content_line light_gray_2">
      <div class="content_holder">
        <div class="mlr20">
          1111111111
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ block.super }}
{% endblock %}
