{% extends "index.html" %}

{% block title %}{{memorial.title}}{% endblock %}

{% block meta %}
  <meta name="description" content="{{memorial.seo_description}}" />
  <meta name="keywords" content="{{memorial.seo_keywords}}" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/catalog.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/product.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block topnav_inner %}
  <div class='content_line dark_gray_1'>
    <div class='content_holder sections_nav cf'>
      <div class='mlr20'>
        <div class='sections'>
          <a href="/catalog" class="category category-all {% if not category.slug %} active{% endif %}">Все памятники</a>
          <a href="/catalog/odinarnye" class="category category-odinarnye {% if category.slug == 'odinarnye' %} active{% endif %}">Одинарные</a>
          <a href="/catalog/dvoinye" class="category category-dvoinye {% if category.slug == 'dvoinye' %} active{% endif %}">Двойные</a>
          <a href="/catalog/s-krestom" class="category category-s-krestom {% if category.slug == 's-krestom' %} active{% endif %}">С крестами</a>
          <a href="/catalog/prostye" class="category category-prostye {% if category.slug == 'prostye' %} active{% endif %}">Простые</a>
          <a href="/catalog/ekskliuzivnye" class="category category-ekskliuzivnye {% if category.slug == 'ekskliuzivnye' %} active{% endif %}">Эксклюзивные</a>
          <a href="/catalog/komplektuiushchie" class="category category-komplektuiushchie {% if category.slug == 'komplektuiushchie' %} active{% endif %}">Комплектующие</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <div class='content_line light_gray_2'>
      <div class='content_holder'>

        <div class="product-header">
          <a class="back_link" href="/catalog/">Вернуться к списку товаров</a>
        </div>

        <div class='mlr20'>
          <div class='product cf'>

            <div class="product-images">
              <ul class="product-images-list">
                {% for image in memorial.ordered_images %}
                  <li class="catalog-image-thumb {% if forloop.counter == 1%}active{% endif %}">
                    <a href="javascript:void(0)" class="js-thumb-changer">
                      <img src="{{ image.photo | thumbnail_url:'preview'  }}" data-original="{{ image.photo | thumbnail_url:'product' }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <div class="product-image-current">
                <img src="{{ memorial.catalog_image.photo | thumbnail_url:'product' }}" class="js-thumb-holder">
              </div>
              <div class="product-details">
                <span class="height">
                  Высота&nbsp;
                  <span class="value"> {{ memorial.stella_variants.all.0.length }} см</span>
                </span>
                <span class="length">
                  Длина&nbsp;
                  <span class="value"> {{ memorial.stella_variants.all.0.width }} см</span>
                </span>
                <span class="width">
                  Ширина&nbsp;
                  <span class="value"> {{ memorial.stella_variants.all.0.height }} см</span>
                </span>
              </div>
            </div>
            <div class="product-info js-memorial" data-optid="{{ memorial.pk }}">
              {% csrf_token %}
              <div class="memorial-title">
                {{ memorial.title }}
              </div>
              <div class="memorial-description">
                {{ memorial.description | safe }}
              </div>
              <div class="memorial-options" data-stella-id="{{ memorial.stella_variants.all.0.pk }}" data-stella-count="2">
                <div class="memorial-options-complect">
                  <div class="memorial-opions-title">
                    Выберите комплектующие
                    <a href="javascript:void(0)" class="js-lightbox-trigger" data-lightbox="complect">?</a>
                  </div>

                  <div class="memorial-options-group stella">
                    {% for stella in memorial.stella_variants.all %}
                      <div class="memorial-options-group-option {% if forloop.counter == 1 %}selected{% endif %}" data-price-mod="{{ stella.added_value }}" data-dimensions="{{ stella.data_size }}"
                          data-stella-id="{{ stella.pk }}">
                        {{ stella.title }}
                        <div>{{ stella.text_size }}</div>
                      </div>
                    {% endfor %}
                  </div>

                  {% for stella in memorial.stella_variants.all %}
                    <div class="memorial-options-group podstavka stella_{{ stella.pk }}" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
                      <!--  {{ forloop.counter}} stella -->
                      {% for podstavka in stella.podstavka_set.all %}
                        <div class="memorial-options-group-option" data-price-mod="{{ podstavka.added_value }}" data-optid="{{ podstavka.pk }}">
                          {{ podstavka.title }}
                          <div>{{ podstavka.text_size }}</div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}

                  {% for stella in memorial.stella_variants.all %}
                    <div class="memorial-options-group cvetnik stella_{{ stella.pk }}" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
                      <div class="memorial-options-group-option dropdown-toggle js-additional-elements">
                        Доп.
                        <div>элементы</div>
                      </div>
                      <div class="dropdown-content memorial-options-dropdown">
                        <div class="reset-additional">Сбросить</div>
                        {% for cvetnik in stella.cvetnik_set.all %}
                          <div class="additional-element-option" data-price-mod="{{ cvetnik.added_value }}" data-optid="{{ cvetnik.pk }}">
                            {{ cvetnik.title }}
                            <div>{{ cvetnik.text_size }}</div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}

                </div>

                <div class="memorial-options-polirovka">
                  <div class="memorial-opions-title">
                    Выберите тип полировки
                    <a href="javascript:void(0)" class="js-lightbox-trigger" data-lightbox="polirovka">?</a>
                  </div>

                  {% for stella in memorial.stella_variants.all %}
                    <div class="memorial-options-group polirovka stella_{{ stella.pk }}" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
                      <!--  {{ forloop.counter}} stella -->
                      {% for polirovka in stella.polirovka_set.all %}
                        <div class="memorial-options-group-option {% if forloop.counter == 1 %}selected{% endif %}" data-price-mod="{{ polirovka.added_value }}" data-optid="{{ polirovka.pk }}">
                          {{ polirovka.title }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}

                </div>

                <div class="memorial-options-summary">
                  <a href="javascript:void(0)" class="btn_link">Оформить заказ</a>
                  <div class="memorial-options-total" data-initila-price="{{ memorial.base_price }}">
                    <span class="memorial-options-total-text">Цена в базовой комплектации</span>
                    <h4>{{ memorial.base_price }} р.</h4>
                  </div>

                  <div class="placeholder content user_content" style="display: none;">
                    <p>Звоните по&nbsp;единому&nbsp;<b>бесплатному</b>&nbsp;<b>номеру 8 800 775-86-24</b> и менеджер составит смету и даст любые рекомендации в течение одного звонка.</p>
                    <p>Или напишите нам на почту&nbsp;<b><a href="mailto:info@stone-garant.ru">info@stone-garant.ru</a></b>&nbsp;и менеджер поможет вам составить полную смету на памятник. В письме необходимо указать № памятника, тип полировки (лицевая, круговая), желаемые надписи на памятник, формат портрета, а также город доставки.&nbsp;</p><p><span style="line-height: 1.45em; background-color: initial;">Мы работаем с 9.00 до 21.00 по московскому времени без выходных.&nbsp;</span><br></p>
                    <p>Отправлять заявки по почте можно круглосуточно. Расчет сметы придет в рабочие часы.&nbsp;</p>
                  </div>

                </div>

              </div>
              <a href="javascript:jivo_api.open()" class="memorial-consultant">Получить консультацию</a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class='content_line light_gray_1'>
      <div class='content_holder help_bar'>
        <div class='mlr20'>
          <span class='delivery'>Доставка по всей России</span>
          <span class='phone'>Есть вопросы? Звоните <b>8 800 775-86-24</b></span>
        </div>
      </div>
    </div>

    <div class="js-lightbox-container lightbox-container">
      <div class="js-lightbox-wrapper lightbox-wrapper">
        <a href="javascript:void(0)" class="js-lightbox-close lightbox-close"></a>
        <div class="content-wrap">
          <div class="js-lightbox-content lightbox-content polirovka">
            <div class="polirovka-lightbox-title">
              <h2>Выбор полировки</h2>
              Тип полировки памятника
            </div>
            <div class="polirovka-lightbox-variant facial">
              <img src="{{STATIC_URL}}stonegarant/images/polirovka_f.png" class="polirovka-lightbox-image">
              <h4>Лицевая полировка</h4>
              <p>Полируется лицевая сторона стелы. Подставка и цветник полируются сверху. Неполированный камень выглядит темно-серым.</p>
              <em>Цена уже входит в стоимость памятника.</em>
            </div>
            <div class="polirovka-lightbox-variant round">
              <img src="{{STATIC_URL}}stonegarant/images/polirovka_r.png" class="polirovka-lightbox-image">
              <h4>Круговая полировка</h4>
              <p>Полируется вся поверхность памятника. Такая полировка защищает камень от выветривания, замерзания влаги в микропорах и нарастания лишайников.</p>
              <em>Круговая полировка увеличивает стоимость памятника на 50%.</em>
            </div>
          </div>

          <div class="js-lightbox-content lightbox-content complect">
            <div class="polirovka-lightbox-title">
              <h2>Выбор комплекта</h2>
              Базовые элементы памятника
            </div>
            <div class="lightbox-text lightbox-stella-text">
              <h4>Стела (надгробие)</h4>
              <p>
                Стела — основной элемент памятника в виде вертикальной плиты.
                На стелу наносят основные элементы гравировки – ФИО, даты жизни,
                портрет и эпитафию. Стелы различаются по форме и размерам.
                Для двух и более человек следует выбирать стелы горизонтального расположения.
              </p>
              {% for stella in memorial.stella_variants.all %}
                 <div class="lightbox-price">{{ stella.lightbox_info }}</div>
              {% endfor %}
            </div>


            {% for stella in memorial.stella_variants.all %}
              <div class="stella-related-info stella_{{ stella.pk }}" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>

                <div class="lightbox-text lightbox-podstavka-text">
                  <h4>Подставка (тумба)</h4>
                  <p>
                    Подставка необходимый элемент для монтажа памятника.
                    Она соединяет стелу и бетонное основание, что придает
                    устойчивости всей конструкции. Подставка
                    увеличивает общую высоту надгробия на 15 см.
                  </p>
                  {% for podstavka in stella.podstavka_set.all %}
                     <div class="lightbox-price">{{ podstavka.lightbox_info }}</div>
                  {% endfor %}
                </div>

                <div class="lightbox-text lightbox-plita-text">
                  <h4>Плита</h4>
                  <p>
                    Устанавливается вместо цветника. Если нет возможности ухаживать за цветником,
                    лучше оборудовать памятник надгробной плитой. Плита хорошо подходит для
                    нанесения гравировки, также можно вмонтировать вазу.
                  </p>
                  <div class="lightbox-price">{{ stella.cvetnik_set.all.0.lightbox_info }}</div>
                </div>

                <div class="lightbox-text lightbox-cvetnik-text">
                  <h4>Цветник</h4>
                  <p>
                    Цветник служит для благоустройства захоронения.
                    Внутрь цветника засыпают грунт и по желанию выращивают цветы.
                    Если вы не планируете сажать цветы и ухаживать за ними,
                    цветник можно заменить плитой.
                  </p>
                  <div class="lightbox-price">{{ stella.cvetnik_set.all.1.lightbox_info }}</div>
                </div>

              </div>
            {% endfor %}

            <div class="lightbox-remark-text">
              Если вам необходимы другие размеры элементов памятника или требуется
              <br/>
              помощь с заказом, звоните по бесплатному номеру: 8 800 775-86-24
            </div>


          </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{STATIC_URL}}stonegarant/javascripts/stone_garant/memorial.js" type="text/javascript"></script>
{% endblock %}
