{% extends "index.html" %}

{% block title %}{{ service_page.meta_title }} {% endblock %}

{% block meta %}
  <meta name="description" content="{{service_page.seo_description}}" />
  <meta name="keywords" content="{{service_page.seo_keywords}}" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/catalog.css" media="screen" rel="stylesheet" type="text/x-scss" />
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/product.css" media="screen" rel="stylesheet" type="text/x-scss" />
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/lightbox.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block topnav_inner %}
  {% include 'catalog_categories.html' %}
{% endblock %}

{% block content %}
    {% load thumbnail %}
    {% load el_pagination_tags %}

    {% paginate 10 works %}

    <div class="content_line light_gray_2">
      <div class="content_holder">
        <!-- <a class="back_link" href="#">Вернуться к списку товаров</a>-->
        <h1>Готовые работы</h1>
        <div class="mlr20">
          <div class="user_content">
            <ul class="thumbs">
              {% for work in works %}
                <li>
                  <a class="thumb" name="optionalCustomIdentifier" href="{{ work.photo|thumbnail_url:'ready'}}" title="{{ work.title }}" data-lightbox="image-{{work.id}}">
                    <img src="{{ work.photo|thumbnail_url:'thumb' }}" alt="{{ work.title }}" />
                  </a>
                  <div class="caption">
                    {% if work.memorial %}
                      <h4><a class='related-work' href='/memorial-{{work.memorial.slug}}'> {{ work.memorial.title }} </a></h4>
                    {% else %}
                      <h4>{{ work.title }}</h4>
                    {% endif %}
                    {{ work.description | safe }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="content_line light_gray_2">
      <div class='content_holder pagination-holder'>
        <div class='mlr20'>

          {% show_pages %}

        </div>
      </div>
    </div>

    <div class='content_line light_gray_1'>
      <div class='content_holder help_bar'>
        <div class='mlr20'>
          <span class='delivery'>Доставка по всей России</span>
          <span class='phone'>Есть вопросы? Звоните <b>8 800 775-86-24</b></span>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{STATIC_URL}}stonegarant/javascripts/stone_garant/lightbox.min.js" type="text/javascript"></script>
{% endblock %}
