{% extends "index.html" %}

{% block title %}{{ service_page.meta_title }} {% endblock %}

{% block meta %}
  <meta name="description" content="{{service_page.seo_description}}" />
  <meta name="keywords" content="{{service_page.seo_keywords}}" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/catalog.css" media="screen" rel="stylesheet" type="text/x-scss" />
  <link href="{{STATIC_URL}}stonegarant/stylesheets/stone_garant/product.css" media="screen" rel="stylesheet" type="text/x-scss" />
{% endblock %}

{% block topnav_inner %}
  {% include 'catalog_categories.html' %}
{% endblock %}

{% block content %}
    <div class="content_line light_gray_2">
      <div class="content_holder">
        <h1>Отзывы</h1>
        <div class="mlr20">
          <div class="user_content">
            <ul class="thumbs">
              {% for reply in replies %}
                <li>
                  {{ reply.reply | safe }}
                  <hr>
                  <i>{{ reply.person }}</i>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
{% endblock %}
