<div class='content_line dark_gray_1'>
  <div class='content_holder header'>
    <div class='description'>Памятники из черного гранита с доставкой по всей России</div>
    <div class='phone'>8 800 775-86-24</div>
    <div class='recall mango-callback' data-settings='{"type":"", "id": "MTAwMDQ5MjI=","autoDial" : "0", "lang" : "ru-ru", "host":"widgets.mango-office.ru/", "errorMessage": "В данный момент наблюдаются технические проблемы и совершение звонка невозможно"}'>
      <a href="#" class="button-widget-open" id="mango-widget-btn" style="  background: ; width: 175px;height: 36px;white-space: nowrap;border: none;font-family: 'SegoeUISemibold';color: #;font-size: 13px;cursor: pointer;">Вам перезвонить?</a>
    </div>
  </div>
</div>
