<div class='content_line light_gray_1'>
  <div class='content_holder base_nav cf'>
    <div class='mlr20'>
      <a class="stone_garant_logo" href="/">Надгробные памятники</a>
      <div class='menu'>
        <ul>
          <li><a href="/catalog">Продукция</a></li>
          <li>
            <a href="#" rel="nofollow">Компания</a>
            <div class="submenu" style="display: none;">
              <ol>
                <li><a href="/page-o-kompanii" rel="nofollow">О Компании</a></li>
                <li><a href="/page-preimushchestva" rel="nofollow">Преимущества</a></li>
                <li><a href="/page-reply" rel="nofollow">Отзывы</a></li>
                <li><a href="/page-articles" rel="nofollow">Статьи</a></li>
              </ol>
            </div>
          </li>
          <li>
            <a href="#" rel="nofollow">Работы</a>
            <div class="submenu" style="display: none;">
              <ol>
                <li><a href="/page-etapy-zakaza" rel="nofollow">Этапы заказа</a></li>
                <li><a href="/page-raboty" rel="nofollow">Готовые работы</a></li>
              </ol>
            </div>
          </li>
          <li>
            <a href="#">Услуги</a>
            <div class="submenu" style="display: none;">
              <ol>
                <li><a href="/page-gravirovka">Гравировка</a></li>
                <li><a href="/page-oplata-i-dostavka">Доставка и оплата</a></li>
              </ol>
            </div>
          </li>
          <li>
            <a href="#" rel="nofollow">Акции</a>
            <div class="submenu" style="display: none;">
              <ol>
                <li><a href="/page-aktsii-i-skidki" rel="nofollow">Акции и скидки</a></li>
                <li><a href="/page-garantiia" rel="nofollow">Гарантии</a></li>
              </ol>
            </div>
          </li>
          <li><a href="/page-kontakty" rel="nofollow">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
