    <div class='content_line light_gray_1'>
      <div class='content_holder base_nav cf'>
        <div class='mlr20'>
          <a class="stone_garant_logo" href="/"></a>
          <div class='menu'>
            <ul>
              <li><a href="/catalog">Продукция</a></li>
              <li>
                <a href="#">Компания</a>
                <div class="submenu" style="display: none;">
                  <ol>
                    <li><a href="/page-o-kompanii">О Компании</a></li>
                    <li><a href="/page-o-preimushchestva">Преимущества</a></li>
                    <li><a href="/feedback">Отзывы</a></li>
                  </ol>
                </div>
              </li>
              <li>
                <a href="#">Работы</a>
                <div class="submenu" style="display: none;">
                  <ol>
                    <li><a href="/page-zakaz">Этапы заказа</a></li>
                    <li><a href="/page-raboty">Готовые работы</a></li>
                  </ol>
                </div>
              </li>
              <li>
                <a href="#">Услуги</a>
                <div class="submenu" style="display: none;">
                  <ol>
                    <li><a href="/page-gravirovka">Гравировка</a></li>
                    <li><a href="/page-dostavka-i-oplata">Доставка и оплата</a></li>
                  </ol>
                </div>
              </li>
              <li>
                <a href="#">Акции</a>
                <div class="submenu" style="display: none;">
                  <ol>
                    <li><a href="/page-aktsii-i-skidki">Акции и скидки</a></li>
                    <li><a href="/page-garantiya">Гарантии</a></li>
                  </ol>
                </div>
              </li>
              <li><a href="/page-kontakty">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>