@font-face {
    font-family: 'museo_1';
    src: url("../../fonts/museo_1/font.eot");
    src: url("../../fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_1/font.woff") format("woff"), url("../../fonts/museo_1/font.ttf") format("truetype");
}
@font-face {
    font-family: 'museo_2';
    src: url("../../fonts/museo_2/font.eot");
    src: url("../../fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_2/font.woff") format("woff"), url("../../fonts/museo_2/font.ttf") format("truetype");
}
@font-face {
    font-family: 'pt_suns_regular';
    src: url("../../fonts/pt_suns_regular/font.eot");
    src: url("../../fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/pt_suns_regular/font.woff") format("woff"), url("../../fonts/pt_suns_regular/font.ttf") format("truetype");
}
/* BOX SHADOW */
/* OPACITY */
/* for sliders building */
/* no text elements select */

h1 {
    color: black;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #b1b2b0;
    margin-bottom: 50px;
}
.catalog h1 {
    text-align: left;
}
.catalog h1 .memorials-count {
    font-size: 14px;
    color: #3e3932;
    font-weight: 400;
    line-height: 1.2;
    padding-left: 10px;
}
.catalog .catalog-header {
    position: relative;
    top: 0;
    left: 0;
}
.catalog .catalog-header .sort-switcher {
    position: absolute;
    bottom: 21px;
    right: 0;
    vertical-align: bottom;
}
.catalog .catalog-header form {
    font-size: 1.4em;
}
.catalog ul .memorial-promo-block {
    float: left;
    width: 247px;
    height: 440px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
.catalog ul .memorial-promo-block .memorial-promo-block-inner {
    margin: 30px auto 0;
    width: 200px;
    height: 350px;
    background: #fff;
}
.catalog ul .memorial-promo-block .memorial-promo-block-title {
    font-style: italic;
    line-height: 1.8em;
    font-size: 1.6em;
}
.catalog ul .memorial-promo-block .memorial-promo-block-image {
    display: block;
    margin: 30px auto;
}
.catalog ul .memorial-promo-block .memorial-promo-block-year {
    padding-top: 47px;
    color: #c75a38;
    font-size: 3.6em;
}
.catalog ul .single-memorial {
    float: left;
    width: 247px;
    height: 440px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.catalog .single-memorial-discount {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 30px;
    background: #c75a38;
    padding: 20px 8px 20px 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
    left: 30px;
    top: 110px;
    position: absolute;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-top-left-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -webkit-border-top-right-radius: 50%;
    -moz-border-radius-topright: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomleft: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius-bottomright: 50%;
    border-radius: 50%;
    -webkit-transition: all 200ms cubic-bezier(.6, .05, .3, 1);
    -moz-transition: all 200ms cubic-bezier(.6, .05, .3, 1);
    -o-transition: all 200ms cubic-bezier(.6, .05, .3, 1);
    transition: all 200ms cubic-bezier(.6, .05, .3, 1);
}

.catalog .single-memorial-name,
.catalog .single-memorial-price {
    font-size: 16px;
    position: relative;
    z-index: 2;
    color: #3e3932;
}

.catalog .single-memorial-button {
    display: none;
    line-height: 40px;
    color: #fff;
    position: absolute;
}

.catalog .single-memorial-link {
    position: relative;
    display: block;
    text-decoration: none;
}

.catalog .single-memorial-image {
    margin: 0 auto;
    display: block;
}

.catalog .single-memorial-link:hover .single-memorial-button {
    display: block;
}

.catalog .single-memorial-link:hover .single-memorial-discount {
    left: 0px;
    top: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 0 0 6px 6px;
}


.catalog-banner {
    background: url("../../images/banner_bg.jpg") repeat-x;
    width: 100%;
    height: 300px;
    color: white;
}
.catalog-banner .catalog-banner-image-holder {
    float: left;
    width: 50%;
    height: 300px;
}
.catalog-banner .catalog-banner-image {
    margin-right: 100px;
    float: right;
}
.catalog-banner .catalog-banner-header {
    margin: 50px 0 30px 0;
    font-size: 32px;
}
.catalog-banner .catalog-banner-data-holder {
    float: left;
    width: 50%;
    height: 300px;
}
.catalog-banner .catalog-banner-text {
    font-size: 16px;
    line-height: 24px;
    color: #dcdcdc;
}
.catalog-banner .btn_link {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    line-height: 40px;
    font-size: 1.6em;
    margin-top: 30px;
}

.load-more-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.load-more-wrapper .btn_link {
   padding: 10px 30px;
}

.banner-rotator {
    width: 450px;
}