@charset "UTF-8";
@font-face {
  font-family: 'museo_1';
  src: url("../../fonts/museo_1/font.eot");
  src: url("../../fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_1/font.woff") format("woff"), url("../../fonts/museo_1/font.ttf") format("truetype"); }

@font-face {
  font-family: 'museo_2';
  src: url("../../fonts/museo_2/font.eot");
  src: url("../../fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_2/font.woff") format("woff"), url("../../fonts/museo_2/font.ttf") format("truetype"); }

@font-face {
  font-family: 'pt_suns_regular';
  src: url("../../fonts/pt_suns_regular/font.eot");
  src: url("../../fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/pt_suns_regular/font.woff") format("woff"), url("../../fonts/pt_suns_regular/font.ttf") format("truetype"); }

/* BOX SHADOW */
/* OPACITY */
/* for sliders building */
/* no text elements select */
body, html {
  background: #edede9; }

html {
  min-width: 1040px; }

/* Styles */
a {
  color: #c75a38;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

/* Links */
a.back_link {
  color: black;
  font-size: 1.2em;
  position: absolute;
  top: 15px;
  right: 0;
  text-decoration: none;
  padding-left: 25px; }
  a.back_link:hover {
    color: #c75a38; }
  a.back_link:before {
    position: absolute;
    top: -1px;
    left: 0;
    content: 'â†';
    font-size: 1.7em;
    font-weight: bold; }

.btn_link {
  color: white;
  padding: 0 30px;
  font-size: 1.4em;
  line-height: 40px;
  border-radius: 3px;
  background: #c85b39;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0.1px -0.1px 1px #222222 2px 5px rgba(0, 0, 0, 0.4);
  background-color: #c45937;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c45937), to(#d3623e));
  background-image: -webkit-linear-gradient(top, #c45937, #d3623e);
  background-image: -moz-linear-gradient(top, #c45937, #d3623e);
  background-image: -ms-linear-gradient(top, #c45937, #d3623e);
  background-image: -o-linear-gradient(top, #c45937, #d3623e);
  background-image: linear-gradient(top, #c45937, #d3623e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c45937', endColorStr='#d3623e');
  -webkit-box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px -1px white inset 0px 1px 4px -1px #010101 5px rgba(0, 0, 0, 0.4); }
  .btn_link:hover {
    background-color: #d3623e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3623e), to(#c45937));
    background-image: -webkit-linear-gradient(top, #d3623e, #c45937);
    background-image: -moz-linear-gradient(top, #d3623e, #c45937);
    background-image: -ms-linear-gradient(top, #d3623e, #c45937);
    background-image: -o-linear-gradient(top, #d3623e, #c45937);
    background-image: linear-gradient(top, #d3623e, #c45937);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d3623e', endColorStr='#c45937'); }

.title {
  font-family: "museo_1", "museo_2", sans-serif, Helvetica, Arial; }

/* Structure */
.content_line {
  border: 0 solid red; }
  .content_line .content_holder {
    margin: 0 auto;
    width: 1000px;
    position: relative; }

.mlr20 {
  margin: 0 20px; }

.content_holder {
  position: relative; }
  .content_holder p.title {
    padding-top: 30px;
    font-size: 3.2em;
    text-align: center; }
  .content_holder h5.title {
    font-size: 4em; }

/* Base BG */
.dark_gray_1 {
  background: #272a2d; }

.dark_gray_2 {
  background: #28292e; }

.dark_gray_3 {
  background: #393A3C; }

.dark_gray_4 {
  background: url("../../images/stone_bg.jpg") no-repeat scroll center center #3a3b3c; }

.light_gray_1 {
  background: #f4f4f4; }

.light_gray_2 {
  background: #edede9; }

.light_gray_3 {
  background: #dcd7d2; }

/* Base styles */
.dark_gray_1 {
  color: #ededed; }

.dark_gray_2 {
  color: #cacaca; }

.dark_gray_3 {
  color: white; }

.light_gray_3 {
  color: #3e3932; }

/* HEADER + FOOTER */
.stone_garant_logo {
  height: 70px;
  width: 210px;
  float: left;
  display: block;
  background: url(../../images/stone_garant_logo.png) no-repeat scroll 0 18px transparent;
  font-size: 0px; }

.stone_garant_logo_2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  height: 60px;
  width: 150px;
  background: url("../../images/stone_garant_logo_2.png") no-repeat scroll 0 0 transparent; }

.header {
  height: 50px; }
  .header .description {
    font-family: "museo_1", "museo_2", sans-serif, Helvetica, Arial;
    font-size: 1.4em;
    position: absolute;
    top: 17px;
    left: 20px; }
  .header .phone {
    position: absolute;
    top: 19px;
    right: 20px;
    color: white;
    font-size: 1.55em;
    font-weight: bold; }
    .header .phone:before {
      position: absolute;
      top: -2px;
      left: -23px;
      display: block;
      content: ' ';
      width: 20px;
      height: 20px;
      background: url("../../images/phone.png") no-repeat scroll 0 0 transparent; }
  .header .recall {
    position: absolute;
    top: 20px;
    right: 200px; }
    .header .recall a {
      padding: 7px 15px;
      color: #ededed;
      font-size: 1.2em;
      background: #434446;
      border-radius: 20px;
      text-decoration: none; }
      .header .recall a:hover {
        color: #c75a38; }

.footer {
  padding: 15px 0 40px 0; }
  .footer p {
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid gray; }
  .footer li {
    font-size: 1.3em;
    line-height: 150%;
    margin-right: 50px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    vertical-align: top; }

/* NAVIGATION */
.base_nav .menu {
  float: right;
  font-weight: bold;
  padding-top: 16px;
  position: relative; }
  .base_nav .menu ul > li {
    float: left;
    padding: 10px;
    margin-left: 10px;
    height: 34px;
    line-height: 38px;
    text-align: center;
    position: relative; }
    .base_nav .menu ul > li:hover {
      background: #fefefe;
      padding: 10px 20px;
      margin-left: 0px;
      margin-right: -10px;
      border-radius: 4px 4px 0 0;
      -webkit-box-shadow: #bbbbbb 0px -2px 6px;
      -moz-box-shadow: #bbbbbb 0px -2px 6px;
      box-shadow: #bbbbbb 0px -2px 6px; }
  .base_nav .menu .submenu {
    z-index: 20;
    display: none;
    position: absolute;
    left: 0;
    top: 54px; }
    .base_nav .menu .submenu a {
      text-transform: none;
      font-size: 14px;
      letter-spacing: 0px; }
    .base_nav .menu .submenu:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: ' ';
      display: block;
      background: #ececec;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
      opacity: 0.9;
      border-radius: 0 0 4px 4px; }
  .base_nav .menu ol > li {
    font-size: 7px;
    text-align: left;
    padding: 9px 20px; }
  .base_nav .menu a {
    color: #010101;
    font-size: 1.55em;
    font-variant: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .base_nav .menu a:hover {
      color: #C85B39;
      text-decoration: none; }

.sections_nav a {
  float: left;
  display: block;
  padding: 0 15px;
  position: relative;
  height: 105px;
  line-height: 160px;
  margin-right: 20px;
  color: #a0a0a0;
  font-size: 1.4em;
  border: 0 solid #f4f4f4;
  text-decoration: none; }
  .sections_nav a.current {
    color: #c75a38; }
  .sections_nav a:hover {
    color: white;
    text-decoration: none; }
  .sections_nav a:before {
    content: '';
    display: block;
    position: absolute;
    height: 35px;
    width: 1px;
    top: 25px;
    left: 0;
    background: url("../../images/type_icons_sprite.png") no-repeat scroll 0 0 transparent; }
  .sections_nav a.category-all:before {
    width: 55px;
    background-position: 0 0;
    left: 35px; }
  .sections_nav a.category-odinarnye:before {
    width: 20px;
    background-position: -58px 0;
    left: 35px; }
  .sections_nav a.category-dvoinye:before {
    width: 29px;
    background-position: -79px 0;
    left: 40px; }
  .sections_nav a.category-s-krestom:before {
    width: 16px;
    background-position: -110px 0;
    left: 45px; }
  .sections_nav a.category-prostye:before {
    width: 18px;
    background-position: -128px 0;
    left: 35px; }
  .sections_nav a.category-ekskliuzivnye:before {
    width: 18px;
    background-position: -147px 0;
    left: 50px; }
  .sections_nav a.category-komplektuiushchie:before {
    width: 48px;
    background-position: -167px 0;
    left: 42px; }
.sections_nav .helper {
  float: right; }
  .sections_nav .helper a {
    margin: 0; }

.help_bar {
  color: #5e5d5d;
  padding: 30px 0; }
  .help_bar b {
    color: black; }
  .help_bar span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 70px;
    line-height: 60px;
    font-size: 1.6em; }
    .help_bar span:before {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background: url("../../images/advantages_icons.png") no-repeat scroll -358px 0 transparent; }
  .help_bar .phone:before {
    background-position: -478px 0; }
  .help_bar .delivery {
    width: 50%; }
