@import "../base/mix";

.product-header {
  height: 55px;
  border-bottom: 1px solid #b1b2b0;
  margin-bottom: 30px;
  line-height: 55px;

  a.back_link {
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    padding-left: 25px;
    position: relative;
    top: 0;
    left: 0;

    &:before {
      position: absolute;
      left: 0;
      content: 'â†';
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

.product {

  .product-images {
    width: 50%;
    float: left;
  }

  .product-images-list {
    width: 60px;
    position: absolute;
    bottom: 130px;
    left: 0;
  }

  .catalog-image-thumb {
    margin-top: 15px;
    border-bottom: 2px solid #414446;

    &.active {
      border-bottom: 2px solid #c75b38;
    }

    img {
      display: block;
      margin:0 auto 10px auto;
    }
  }

  .product-image-current {
    width: calc(100% - 60px);
    margin-left: 60px;
    min-height: 300px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .product-details {
    margin: 20px 0 30px 0;
    padding-left: 35px;
    text-align: center;

    & > span {
      margin-left: 25px;

      & > span {
        font-size: 1.4em;
      }
    }
  }

}

.product_info{
  padding-top: 30px;
  margin-bottom: 30px;

  .tabs{
    a{
      @include inline-block;
      color: black;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;

      padding: 15px;
      background: gray;
      margin-right: 10px;

      &.active{ background: white; }
    }
  }
  .content{
    padding: 20px;
    background: white;
  }
  p{ font-size: 14px; }
}

.order_calc{
  @include arial;
  font-size: 13px;
  padding: 10px 20px;
}

.user_content .thumbs li {
  border-bottom: 1px solid #888;
  padding: 20px 0px;
}

.user_content .thumbs li:last-child {
  border-bottom: none;
}

.user_content .thumbs li .thumb,
.user_content .thumbs li .caption {
  display: inline-block;
  vertical-align: top;
}

.user_content .thumbs li .caption {
  padding-left: 20px;
}

.content_holder.pagination-holder {
  text-align: center;
  margin: 0 auto;
}

.pagination {
  font-size: 14px;
}
