@charset "UTF-8";
@font-face {
  font-family: 'museo_1';
  src: url("../../fonts/museo_1/font.eot");
  src: url("../../fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_1/font.woff") format("woff"), url("../../fonts/museo_1/font.ttf") format("truetype"); }

@font-face {
  font-family: 'museo_2';
  src: url("../../fonts/museo_2/font.eot");
  src: url("../../fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_2/font.woff") format("woff"), url("../../fonts/museo_2/font.ttf") format("truetype"); }

@font-face {
  font-family: 'pt_suns_regular';
  src: url("../../fonts/pt_suns_regular/font.eot");
  src: url("../../fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/pt_suns_regular/font.woff") format("woff"), url("../../fonts/pt_suns_regular/font.ttf") format("truetype"); }

/* BOX SHADOW */
/* OPACITY */
/* for sliders building */
/* no text elements select */
.product-header {
  height: 55px;
  border-bottom: 1px solid #b1b2b0;
  margin-bottom: 30px;
  line-height: 55px; }
  .product-header a.back_link {
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    padding-left: 25px;
    position: relative;
    top: 0;
    left: 0; }
    .product-header a.back_link:before {
      position: absolute;
      left: 0;
      content: '←';
      font-size: 1.4em;
      font-weight: bold; }

.product {
  margin: 0 0 55px 0; }
  .product .product-images {
    width: 50%;
    float: left; }
  .product .product-images-list {
    width: 60px;
    position: absolute;
    bottom: 130px;
    left: 0; }
  .product .catalog-image-thumb {
    margin-top: 15px;
    border-bottom: 2px solid #414446; }
    .product .catalog-image-thumb.active {
      border-bottom: 2px solid #c75b38; }
    .product .catalog-image-thumb img {
      display: block;
      margin: 0 auto 10px auto; }
  .product .product-image-current {
    width: calc(100% - 60px);
    margin-left: 60px;
    min-height: 300px; }
    .product .product-image-current img {
      display: block;
      margin: 0 auto; }
  .product .product-details {
    margin: 20px 0 30px 0;
    padding-left: 15px;
    text-align: center; }
    .product .product-details > span {
      margin-left: 45px;
      position: relative; }
      .product .product-details > span:before {
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 1.4em; }
      .product .product-details > span.length:before {
        content: "↔"; }
      .product .product-details > span.height:before {
        content: "↕"; }
      .product .product-details > span.width:before {
        content: "⤢"; }
      .product .product-details > span > span {
        font-size: 1.4em; }

.product-info {
  margin-left: 50%; }
  .product-info .memorial-title {
    font-size: 2.4em;
    margin-bottom: 15px; }
  .product-info .memorial-description {
    margin-bottom: 25px; }
    .product-info .memorial-description > p {
      font-size: 1.4em;
      line-height: 1.2em; }
  .product-info .memorial-options .memorial-opions-title {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 100;
    letter-spacing: 2px; }
    .product-info .memorial-options .memorial-opions-title a {
      text-decoration: none;
      color: white;
      background: #5e5d5d;
      border-radius: 20px;
      padding: 0 0 0 2px;
      text-align: center;
      font-size: 10px;
      display: inline-block;
      width: 13px;
      height: 15px; }
  .product-info .memorial-options-summary {
    border-top: 1px solid #b1b2b0;
    padding-top: 20px;
    margin-top: 20px; }
    .product-info .memorial-options-summary .btn_link {
      float: left;
      display: block;
      height: 40px;
      font-size: 1.6em;
      margin-right: 20px; }
    .product-info .memorial-options-summary .memorial-options-total {
      font-size: 12px; }
      .product-info .memorial-options-summary .memorial-options-total h4 {
        margin-top: 5px;
        font-size: 24px; }
    .product-info .memorial-options-summary .memorial-consultant {
      margin-top: 15px;
      text-decoration: none;
      margin-left: 25px;
      font-size: 24px; }
  .product-info .memorial-options-group {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    border: 1px solid #b1b2b0;
    border-radius: 3px;
    font-size: 0;
    margin-top: 15px;
    overflow: hidden; }
    .product-info .memorial-options-group .memorial-options-group-option {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
      background-image: -webkit-linear-gradient(top, white, #f0f0f0);
      background-image: -moz-linear-gradient(top, white, #f0f0f0);
      background-image: -ms-linear-gradient(top, white, #f0f0f0);
      background-image: -o-linear-gradient(top, white, #f0f0f0);
      background-image: linear-gradient(top, white, #f0f0f0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', endColorStr='#f0f0f0');
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      -webkit-box-shadow: inset -1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset -1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset -1px 1px 1px 0 rgba(0, 0, 0, 0.05); }
      .product-info .memorial-options-group .memorial-options-group-option > div {
        font-size: 12px;
        margin-top: 5px; }
      .product-info .memorial-options-group .memorial-options-group-option.selected {
        background-color: #cc7358;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#cc7358), to(#d47c61));
        background-image: -webkit-linear-gradient(top, #cc7358, #d47c61);
        background-image: -moz-linear-gradient(top, #cc7358, #d47c61);
        background-image: -ms-linear-gradient(top, #cc7358, #d47c61);
        background-image: -o-linear-gradient(top, #cc7358, #d47c61);
        background-image: linear-gradient(top, #cc7358, #d47c61);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc7358', endColorStr='#d47c61');
        color: white; }
  .product-info .memorial-options-polirovka {
    margin-top: 30px; }

.memorial-consultant {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin-left: 30px;
  position: relative;
  top: 10px; }
  .memorial-consultant:before {
    position: absolute;
    top: -3px;
    left: -30px;
    display: block;
    content: '';
    height: 23px;
    width: 22px;
    background: url("../../images/get_help.png"); }

.lightbox-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .lightbox-container .lightbox-close {
    position: absolute;
    top: 19px;
    right: 19px;
    display: block;
    width: 26px;
    height: 26px;
    background: url("../../images/close_lightbox.png"); }
  .lightbox-container .lightbox-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background: #ffffff;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 3px; }
  .lightbox-container .content-wrap {
    padding: 0 160px;
    height: 100%;
    overflow: auto; }
  .lightbox-container .lightbox-content {
    display: none;
    font-size: 0;
    padding: 60px 0 75px; }
  .lightbox-container .polirovka-lightbox-variant {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 45%;
    vertical-align: top;
    margin-right: 0;
    margin-left: 5%;
    font-size: 14px;
    line-height: 20px; }
    .lightbox-container .polirovka-lightbox-variant h4 {
      font-size: 16px;
      margin-bottom: 15px;
      font-weight: bold; }
    .lightbox-container .polirovka-lightbox-variant p {
      font-size: 14px;
      line-height: 20px; }
    .lightbox-container .polirovka-lightbox-variant:first-child {
      margin-right: 5%;
      margin-left: 0; }
    .lightbox-container .polirovka-lightbox-variant .polirovka-lightbox-image {
      margin-bottom: 35px; }
  .lightbox-container .polirovka-lightbox-title {
    text-align: center;
    color: #626262;
    margin-bottom: 45px;
    font-size: 18px; }
    .lightbox-container .polirovka-lightbox-title h2 {
      font-size: 32px;
      margin-bottom: 10px;
      color: #000; }

.order_calc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 10px 20px; }

.user_content .thumbs li {
  border-bottom: 1px solid #888;
  padding: 20px 0; }

.user_content .thumbs li:last-child {
  border-bottom: none; }

.user_content .thumbs li .thumb,
.user_content .thumbs li .caption {
  display: inline-block;
  vertical-align: top; }

.user_content .thumbs li .caption {
  padding-left: 20px; }

.content_holder.pagination-holder {
  text-align: center;
  margin: 0 auto; }

.pagination {
  font-size: 14px; }
