@charset "UTF-8";
@font-face {
  font-family: 'museo_1';
  src: url("../../fonts/museo_1/font.eot");
  src: url("../../fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_1/font.woff") format("woff"), url("../../fonts/museo_1/font.ttf") format("truetype"); }

@font-face {
  font-family: 'museo_2';
  src: url("../../fonts/museo_2/font.eot");
  src: url("../../fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_2/font.woff") format("woff"), url("../../fonts/museo_2/font.ttf") format("truetype"); }

@font-face {
  font-family: 'pt_suns_regular';
  src: url("../../fonts/pt_suns_regular/font.eot");
  src: url("../../fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/pt_suns_regular/font.woff") format("woff"), url("../../fonts/pt_suns_regular/font.ttf") format("truetype"); }

/* BOX SHADOW */
/* OPACITY */
/* for sliders building */
/* no text elements select */
.product-header {
  height: 55px;
  border-bottom: 1px solid #b1b2b0;
  margin-bottom: 30px;
  line-height: 55px; }
  .product-header a.back_link {
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    padding-left: 25px;
    position: relative;
    top: 0;
    left: 0; }
    .product-header a.back_link:before {
      position: absolute;
      left: 0;
      content: 'â†';
      font-size: 1.4em;
      font-weight: bold; }

.product .product-images {
  width: 50%;
  float: left; }
.product .product-images-list {
  width: 60px;
  position: absolute;
  bottom: 130px;
  left: 0; }
.product .catalog-image-thumb {
  margin-top: 15px;
  border-bottom: 2px solid #414446; }
  .product .catalog-image-thumb.active {
    border-bottom: 2px solid #c75b38; }
  .product .catalog-image-thumb img {
    display: block;
    margin: 0 auto 10px auto; }
.product .product-image-current {
  width: calc(100% - 60px);
  margin-left: 60px;
  min-height: 300px; }
  .product .product-image-current img {
    display: block;
    margin: 0 auto; }
.product .product-details {
  margin: 20px 0 30px 0;
  padding-left: 35px;
  text-align: center; }
  .product .product-details > span {
    margin-left: 25px; }
    .product .product-details > span > span {
      font-size: 1.4em; }

.product_info {
  padding-top: 30px;
  margin-bottom: 30px; }
  .product_info .tabs a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    background: gray;
    margin-right: 10px; }
    .product_info .tabs a.active {
      background: white; }
  .product_info .content {
    padding: 20px;
    background: white; }
  .product_info p {
    font-size: 14px; }

.order_calc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 10px 20px; }

.user_content .thumbs li {
  border-bottom: 1px solid #888;
  padding: 20px 0px; }

.user_content .thumbs li:last-child {
  border-bottom: none; }

.user_content .thumbs li .thumb,
.user_content .thumbs li .caption {
  display: inline-block;
  vertical-align: top; }

.user_content .thumbs li .caption {
  padding-left: 20px; }

.content_holder.pagination-holder {
  text-align: center;
  margin: 0 auto; }

.pagination {
  font-size: 14px; }
