@import "../base/mix";

.product{
  padding-bottom: 30px;

  dl{
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;

    dt{
      font-weight: bold;
      margin-bottom: 10px;
    }
    dd{ margin-bottom: 30px; }
  }

  .preview{
    width: 240px;
    float: left;
  }

  .finished{
    padding: 20px;
    float: right;
    width: 200px;
    height: 400px;
    background: #f6f6f4;
    overflow: auto;
    h5{ font-weight: bold; }
    img{ margin-bottom: 10px; }
  }

  .info{
    margin: 0 260px;
  }
}

.product_info{
  padding-top: 30px;
  margin-bottom: 30px;

  .tabs{
    a{
      @include inline-block;
      color: black;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;

      padding: 15px;
      background: gray;
      margin-right: 10px;

      &.active{ background: white; }
    }
  }
  .content{
    padding: 20px;
    background: white;
  }
  p{ font-size: 14px; }
}

.order_calc{
  @include arial;
  font-size: 13px;
  padding: 10px 20px;
}

.user_content .thumbs li {
  border-bottom: 1px solid #888;
  padding: 20px 0px;
}

.user_content .thumbs li:last-child {
  border-bottom: none;
}

.user_content .thumbs li .thumb,
.user_content .thumbs li .caption {
  display: inline-block;
  vertical-align: top;
}

.user_content .thumbs li .caption {
  padding-left: 20px;
}

.content_holder.pagination-holder {
  text-align: center;
  margin: 0 auto;
}

.pagination {
  font-size: 14px;
}
