/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\000037}}
.slider {
  position: relative;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000311}}
.slider a.bck, .slider a.fwd {
  height: 80px;
  width: 40px;
  display: block;
  text-decoration: none;
  position: absolute;
  top: 10px;
  background: url("/stonegarant/stonegarant/images/slider_btns.png") no-repeat scroll 0 0 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000319}}
.slider a.bck {
  left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000321}}
.slider a.bck:hover {
  background-position: 0 -102px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000323}}
.slider a.fwd {
  right: 20px;
  background-position: -80px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000326}}
.slider a.fwd:hover {
  background-position: -80px -102px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000329}}
.slider .viewport {
  width: 80%;
  margin: auto;
  height: 200px;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000337}}
.slider ul {
  width: 100%;
  height: 170px;
  font-size: 0;
  top: 0;
  left: 0;
  position: absolute;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000346}}
.slider ul li {
  height: 100%;
  width: 100%;
  font-size: 10px;
  text-align: left;
  position: relative;
  white-space: normal;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000357}}
.slider ul blockquote {
  margin: 0 25px;
  font-size: 1.5em;
  line-height: 150%;
  position: relative;
  text-align: justify;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000365}}
.slider ul blockquote:before, .slider ul blockquote:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 20px;
  height: 15px;
  background: url("/stonegarant/stonegarant/images/quotes.png") no-repeat scroll 0 0 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000373}}
.slider ul blockquote:before {
  top: 0;
  left: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000374}}
.slider ul blockquote:after {
  bottom: 0;
  right: -25px;
  background-position: -80px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000380}}
.slider ul .author {
  font-family: "museo_1", "museo_2", sans-serif, Helvetica, Arial;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000384}}
.slider ul .author span {
  position: relative;
  font-size: 1.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000388}}
.slider ul .author span:before, .slider ul .author span:after {
  top: 10px;
  width: 75px;
  display: block;
  content: ' ';
  position: absolute;
  border-top: 1px solid #c6c1bd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000396}}
.slider ul .author span:before {
  left: -90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/stone_garant\/slider\.scss}line{font-family:\0000397}}
.slider ul .author span:after {
  right: -90px;
}
