@import "../base/mix";

.slider {
  position: relative;
  margin-bottom: 20px;

  a.bck, a.fwd {
    height:  80px;
    width:   40px;
    display: block;
    text-decoration: none;
    position: absolute; top: 10px;
    background: url('../../images/slider_btns.png') no-repeat scroll 0 0 transparent;
  }
  a.bck {
    left: -70px;
    &:hover{ background-position: 0 -102px; }
  }
  a.fwd {
    right: -70px;
    background-position: -80px 0;
    &:hover{ background-position: -80px -102px; }
  }

  .viewport {
    width: 80%;
    margin: auto;
    position: relative;
  }

  .viewport {
    font-size: 0;
    white-space: nowrap;

    .slick-slide {
      font-size: 10px;
      text-align: left;
      white-space: normal;
    }

    blockquote {
      margin: 0 25px;
      font-size: 1.5em;
      line-height: 150%;
      position: relative;
      text-align: justify;
      margin-bottom: 30px;

      &:before, &:after{
        content: ' ';
        display: block;
        position: absolute;
        width: 20px; height: 15px;
        background: url('../../images/quotes.png') no-repeat scroll 0 0 transparent;
      }

      &:before{ top: 0; left: -25px; }
      &:after{
        bottom: 0; right: -25px;
        background-position: -80px 0;
      }
    }

    .author {
      @include museo_font;
      text-align: center;
      line-height: 100%;
      margin-top: -15px;

      span{
        position: relative;
        font-size: 1.7em;

        &:before, &:after{
          top: 10px;
          width: 75px;
          display: block;
          content: ' ';
          position: absolute;
          border-top: 1px solid #c6c1bd;
        }
        &:before{ left:  -90px; }
        &:after { right: -90px; }
      }
    }
  }
}
