beautifulsoup4==4.4.1
boto==2.40.0
cssselect==0.9.1
cssutils==1.0.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.6
django-appconf==1.0.2
django-bmemcached==0.2.3
django-cached-s3-storage==0.2.1
django-codemirror-widget==0.4.0
django-compressor==2.0
django-compressor-autoprefixer==0.1.0
django-debug-toolbar==1.4
django-el-pagination==2.1.2
django-htmlmin==0.9.1
django-libsass==0.7
django-mptt==0.8.4
django-pagination==1.0.7
django-premailer==0.1.0
django-pylibmc==0.6.1
django-storages==1.4.1
django-suit==0.2.18
django-suit-redactor==0.0.4
django-tastypie==0.13.3
django-uuslug==1.1.7
easy-thumbnails==2.3
feedparser==5.2.1
FeinCMS==1.12.1
futures==3.0.5
gevent==1.1.1
greenlet==0.4.9
gunicorn==19.5.0
html5lib==0.9999999
libsass==0.11.1
lxml==3.6.0
MySQL-python==1.2.5
newrelic==2.64.0.48
Pillow==3.2.0
ply==3.8
premailer==2.11.0
psycopg2==2.6.1
PyExecJS==1.4.0
pylibmc==1.5.1
PyReact==0.6.0
pystache==0.5.4
python-binary-memcached==0.24.6
python-dateutil==2.5.3
python-mimeparse==1.5.2
python-slugify==1.2.0
pytz==2016.4
rcssmin==1.0.6
requests==2.10.0
rjsmin==1.0.12
six==1.10.0
sqlparse==0.1.19
static==1.1.1
static3==0.7.0
Unidecode==0.4.19
virtualenv==15.0.1
waitress==0.9.0
