<!-- CUSTOM STYLES FOR ADMIN -->
<style>
    .field-photo input[type=checkbox] + label {
        display: inline-block;
        vertical-align:bottom;
        margin: 0 5px 0 5px;
    }
    .field-photo a {
        margin-bottom: 5px;
        display: inline-block;
    }
    div.field-photo div.controls {
        line-height: 16px;
    }
    .field-photo input[type=file] {
        line-height: 16px;
        height: 16px;
        vertical-align:baseline;
    }
</style>

<!-- CUSTOM SCRIPS FOR ADMIN -->
<script></script>