@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/custom\.scss}line{font-family:\000031}}
p {
  margin-bottom: 1.35em;
  line-height: 175%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/custom\.scss}line{font-family:\000036}}
.content {
  padding-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/custom\.scss}line{font-family:\0000310}}
.user_content {
  font-size: 14px;
  line-height: 150%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/custom\.scss}line{font-family:\0000314}}
.user_content * {
  font-size: inherit;
  line-height: inherit;
}
