@font-face {
  font-family: 'museo_1';
  src: url("../../fonts/museo_1/font.eot");
  src: url("../../fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_1/font.woff") format("woff"), url("../../fonts/museo_1/font.ttf") format("truetype");
}

@font-face {
  font-family: 'museo_2';
  src: url("../../fonts/museo_2/font.eot");
  src: url("../../fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/museo_2/font.woff") format("woff"), url("../../fonts/museo_2/font.ttf") format("truetype");
}

@font-face {
  font-family: 'pt_suns_regular';
  src: url("../../fonts/pt_suns_regular/font.eot");
  src: url("../../fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("../../fonts/pt_suns_regular/font.woff") format("woff"), url("../../fonts/pt_suns_regular/font.ttf") format("truetype");
}

/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
/*
  zykin-ilya@ya.ru
  github.com/the-teacher
  Last modified: 14 aug 2013

  GLOBAL font-size: 10px; (aka 62.5%)
  provide identity of:
  10px => 1em   => 100%
  15px => 1.5em => 150%
  18px => 1.8em => 180%
*/
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000314}}
* {
  margin: 0;
  padding: 0;
}

/* all block elements */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000323}}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, html, head, body, address, blockquote, center, dir,
div, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, isindex, menu, noframes, noscript,
ol, p, pre, table, ul {
  border: 0;
  outline: 0;
  font-size: 10px;
  line-height: 100%;
  background: transparent;
  vertical-align: baseline;
  font-family: 'PT Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000333}}
html {
  background: white;
}

/* HTML5 INIT (experimental section) */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000339}}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000343}}
canvas, video, audio[controls] {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000349}}
audio {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000353}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000357}}
mark {
  background: yellow;
  padding: 0 5px;
}

/* HTML5 INIT */
/* TABLES */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000364}}
table, tr, th, td {
  border-collapse: collapse;
  vertical-align: top;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000370}}
th {
  font-weight: bold;
}

/* TABLES */
/* LIST */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000376}}
ol, ul {
  list-style: none;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000381}}
li {
  list-style-position: outside;
}

/* LIST */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000386}}
img {
  vertical-align: top;
}

/* IE a > img fix*/
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000391}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000395}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\0000399}}
a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003103}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003107}}
sup, sub {
  font-size: 85%;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003112}}
sup {
  vertical-align: 40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003116}}
sub {
  vertical-align: -40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003120}}
noscript {
  background: red;
  font-size: 2em;
  padding: 5px;
  color: white;
}

/* CUSTOM */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003128}}
p {
  line-height: 1.35em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003132}}
label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003136}}
.numered_list, .marked_list {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003140}}
.numered_list li, .marked_list li {
  list-style-position: outside;
  margin-left: 15px;
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003146}}
.numered_list li {
  list-style-type: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003150}}
.marked_list li {
  list-style-type: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003154}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003158}}
.invisible {
  visibility: hidden;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003163}}
.visible {
  visibility: visible;
  height: auto;
}

/* Unbreakable */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003169}}
.nobr {
  font-size: inherit;
  white-space: nowrap;
}

/* For sliders building */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003175}}
.nobr_item {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003182}}
:focus {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003186}}
.u {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003190}}
.indicator, .stop_indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

/* hacks */
/* overblock */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003200}}
.ob {
  overflow: hidden;
  zoom: 1;
}

/* clearfix */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003206}}
.cf:after {
  content: ".";
  display: block;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003216}}
html[xmlns] .cf {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003217}}
* html .cf {
  zoom: 1;
}

/* hidden input text, for custom calendars fields */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003221}}
.zeropoint {
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 0px !important;
  width: 1px !important;
  opacity: 0 !important;
  border: 0 !important;
}

/* placeholders fix */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003232}}
:-moz-placeholder {
  color: #999 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003236}}
:-ms-input-placeholder {
  color: #999 !important;
}

/* WebKit fixes */
@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003241}}
::-webkit-input-placeholder {
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Q\:\/stonegarant\/static\/stonegarant\/stylesheets\/base\/reset\.scss}line{font-family:\00003245}}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*
    .ANY_CLASS{ any_property: x; }
    .test { display: inline-table; }
  */
}
